.table td,
.table th {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    vertical-align: middle;
}
.table.center-th th {
    text-align: center;
}
.form-error {
    color: red;
}
.plus-btn {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
}
.plus-btn .fa {
    line-height: 1.7;
}